/*============================================================ 
                        CSS OVERVIEWS
                1. Accordion
                2. Alert Message
                3. Banner
                4. Blockquote
                5. Button
                6. Content Box
                7. Carousel
                8. Column
                9. Divider
                10. Dropcaps
                11. Heading
                12. Link
                13. Slider
                14. Social
                15. Progress Bar
                16. Promo Box
                17. Tabs
                18. Table
                19. Testimonial
============================================================*/
/*===================== variable ===================== */
/* ============================================================ 
    1. Accordion
=============================================================*/
.line-accordion.line-style {
  background: #ffffff;
}
.line-accordion.line-style .accordion-title.active a {
  color: #000000;
  border-color: #000000;
}
.line-accordion.line-style .accordion-title.active a:after {
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 25px;
}
.line-accordion.line-style .accordion-title a {
  padding: 10px 15px;
  display: block;
  color: #b3b3b3;
  position: relative;
  border: 2px solid #e6e6e6;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.line-accordion.line-style .accordion-title a:after {
  border-bottom: 5px solid transparent;
  border-left: 5px solid #cccccc;
  border-top: 5px solid transparent;
  content: "";
  height: 0;
  margin-top: -5px;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 0;
}
.line-accordion.line-style .accordion-container {
  padding: 15px 0 20px 0;
}
/* ============================================================ 
    2. Alert Message
=============================================================*/
.line-alert {
  padding: 20px;
  color: #ffffff;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.line-alert.error {
  background-color: #bd0808;
}
.line-alert.success {
  background-color: #bd0808;
}
.line-alert.info {
  background-color: #009eca;
}
.line-alert.notice {
  background-color: #f6ba70;
}
.line-alert a.close {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -12px;
  color: #ffffff;
}
.line-alert a.close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.line-alert a.close i {
  line-height: 22px;
}
/* ============================================================ 
    3. Banner
=============================================================*/
.line-banner {
  text-align: center;
}
.line-banner a {
  display: block;
  position: relative;
  overflow: hidden;
}
.line-banner a:hover img {
  transform: scale(1.2) rotateZ(-5deg);
  -webkit-transform: scale(1.2) rotateZ(-5deg);
  -o-transform: scale(1.2) rotateZ(-5deg);
  -ms-transform: scale(1.2) rotateZ(-5deg);
  -moz-transform: scale(1.2) rotateZ(-5deg);
}
.line-banner a img {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.line-banner a .line-mask {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.line-banner a .line-mask:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.line-banner a .line-mask .line-mask-content {
  display: inline-block;
  height: auto;
  vertical-align: middle;
  width: 80%;
}
.line-banner a .line-mask .line-mask-content .line-title-banner {
  color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  font-size: 2.5em;
}
/* ============================================================ 
    4. Blockquote
=============================================================*/
blockquote {
  padding: 40px;
  text-align: center;
  background: #bd0808;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
blockquote:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #bd0808;
  bottom: -10px;
  content: "";
  display: inline-block;
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  width: 0;
}
/* ============================================================ 
    5. Button
=============================================================*/
.line-elements .line-btn,
.line-elements input[type="submit"] {
  margin: 0 10px 10px 0;
}
.line-btn,
input[type="submit"],
button[type="submit"] {
  font-weight: bold;
  color: #000000;
  background-image: none;
  background-color: #ffffff;
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
  cursor: pointer;
  border: 2px solid #000000;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  display: inline-block;
}
.line-btn.small,
input[type="submit"].small,
button[type="submit"].small {
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
}
.line-btn.big,
input[type="submit"].big,
button[type="submit"].big {
  height: 60px;
  line-height: 60px;
  padding: 0 70px;
}
.line-btn.blue,
input[type="submit"].blue,
button[type="submit"].blue {
  background: #009eca;
  border: none;
  color: #ffffff;
}
.line-btn.lightblue,
input[type="submit"].lightblue,
button[type="submit"].lightblue {
  background: #58c5c0;
  border: none;
  color: #ffffff;
}
.line-btn.darkblue,
input[type="submit"].darkblue,
button[type="submit"].darkblue {
  background: #42555c;
  border: none;
  color: #ffffff;
}
.line-btn.red,
input[type="submit"].red,
button[type="submit"].red {
  background: #bd0808;
  border: none;
  color: #ffffff;
}
.line-btn.green,
input[type="submit"].green,
button[type="submit"].green {
  background: #bd0808;
  border: none;
  color: #ffffff;
}
.line-btn.orange,
input[type="submit"].orange,
button[type="submit"].orange {
  background: #f6ba70;
  border: none;
  color: #ffffff;
}
.line-btn.dark,
input[type="submit"].dark,
button[type="submit"].dark {
  background: #333333;
  border: none;
  color: #ffffff;
}
.line-btn.light,
input[type="submit"].light,
button[type="submit"].light {
  background: #dddddd;
  color: #000000;
  border: none;
}
.line-btn.light:hover,
input[type="submit"].light:hover,
button[type="submit"].light:hover {
  color: #ffffff;
}
.line-btn:hover,
input[type="submit"]:hover,
button[type="submit"]:hover {
  background: #000000;
  color: #ffffff;
}
.line-btn.line-disabled,
input[type="submit"].line-disabled,
button[type="submit"].line-disabled,
.line-btn:disabled,
input[type="submit"]:disabled,
button[type="submit"]:disabled {
  background: #f2f2f2;
  color: #b3b3b3;
  cursor: no-drop;
  border: none;
}
/* ============================================================ 
    6. Content Box
=============================================================*/
.line-content-box {
  position: relative;
}
.line-content-box:hover .line-back {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.line-content-box:hover .line-front {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}
.line-content-box .line-front {
  background: #ffffff;
  border: 2px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.line-content-box .line-front .line-icons {
  margin-bottom: 20px;
}
.line-content-box .line-front .line-title {
  text-transform: none;
  font-size: 16px;
  margin-bottom: 10px;
}
.line-content-box .line-back {
  background: #bd0808;
  color: #ffffff;
  border: 2px solid #a50707;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.line-content-box .line-back:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.line-content-box .line-back .line-back-inner {
  display: inline-block;
  height: auto;
  vertical-align: middle;
  width: 90%;
}
.line-content-box .line-back .line-back-inner .line-btn {
  display: inline-block;
}
/* ============================================================ 
    7. Carousel
=============================================================*/
.line-carousel .line-carousel-item .line-carousel-item-inner,
.line-carousel-one .line-carousel-item .line-carousel-item-inner {
  padding: 0 20px;
}
.line-carousel .flex-control-nav,
.line-carousel-one .flex-control-nav {
  text-align: center;
  margin-top: 70px;
}
.line-carousel .flex-control-nav li,
.line-carousel-one .flex-control-nav li {
  display: inline-block;
}
.line-carousel .flex-control-nav li a,
.line-carousel-one .flex-control-nav li a {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
  margin: 0 5px;
}
.line-carousel .flex-control-nav li a.flex-active,
.line-carousel-one .flex-control-nav li a.flex-active {
  background: #bd0808;
}
.line-carousel-one .line-carousel-item .line-carousel-item-inner {
  padding: 0;
}
/* ============================================================ 
    8. Column
=============================================================*/
.one-half {
  width: 48%;
}
.one-third {
  width: 30.6666%;
}
.two-third {
  width: 65.3332%;
}
.one-fourth {
  width: 22%;
}
.three-fourth {
  width: 74%;
}
.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth {
  float: left;
  margin-right: 4%;
  position: relative;
}
.one-half.last,
.one-third.last,
.two-third.last,
.three-fourth.last,
.one-fourth.last {
  margin-right: 0;
}
.one-half img,
.one-third img,
.two-third img,
.three-fourth img,
.one-fourth img {
  max-width: 100%;
}
.one-half.line-has-border:after,
.one-third.line-has-border:after,
.two-third.line-has-border:after,
.three-fourth.line-has-border:after,
.one-fourth.line-has-border:after {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  background: #e6e6e6;
  top: 0;
}
.one-half.line-has-border:after {
  right: -4.4%;
}
.one-third.line-has-border:after {
  right: -6.6%;
}
.one-fourth.line-has-border:after {
  right: -9.3%;
}
.two-third.line-has-border:after {
  right: -3%;
}
.three-fourth.line-has-border:after {
  right: -2.8%;
}
/* ============================================================ 
    9. Divider
=============================================================*/
hr {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  height: 2px;
  margin: 60px 0;
}
/* ============================================================ 
    10. Dropcaps
=============================================================*/
.line-dropcap {
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  margin: 0 10px 0 0;
  font-family: times new roman;
}
.line-dropcap.line-style1 {
  background: #cccccc;
  color: #ffffff;
}
.line-dropcap.line-style2 {
  background: #000000;
  color: #ffffff;
}
/* ============================================================ 
    11. Heading
=============================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: break-word;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
/* ============================================================ 
    12. Link
=============================================================*/
.underline {
  text-decoration: underline;
}
.highlight {
  background: #bd0808;
  color: #ffffff;
  padding: 0 5px;
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #737373;
  cursor: help;
}
.label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #ffffff;
  background: #cccccc;
}
.label.label-default {
  background: #cccccc;
}
.label.label-primary {
  background: #009eca;
}
.label.label-success {
  background: #bd0808;
}
.label.label-info {
  background: #58c5c0;
}
.label.label-warning {
  background: #f6ba70;
}
.label.label-danger {
  background: #bd0808;
}
/* ============================================================ 
    13. Slider
=============================================================*/
.flexslider {
  overflow: hidden;
  position: relative;
}
.flexslider a {
  font-weight: bold;
}
.flexslider:hover .flex-direction-nav a.flex-prev {
  left: 30px;
}
.flexslider:hover .flex-direction-nav a.flex-next {
  right: 30px;
}
.flexslider .flex-direction-nav a {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.flexslider .flex-direction-nav a.flex-prev {
  left: -20px;
}
.flexslider .flex-direction-nav a.flex-next {
  right: -20px;
}
.flexslider .flex-direction-nav a i {
  font-size: 56px;
  color: #ffffff;
}
/* ============================================================ 
    14. Sosial
=============================================================*/
ul.social-networks {
  width: 100%;
}
ul.social-networks li {
  display: inline-block;
}
ul.social-networks li a {
  width: 32px;
  height: 32px;
  background: #000000;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
ul.social-networks li a:hover {
  background: #bd0808;
}
ul.social-networks li a:hover:before,
ul.social-networks li a:hover:after {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
ul.social-networks li a:before {
  content: attr(data-title);
  position: absolute;
  background: #000000;
  left: 0;
  top: -35px;
  padding: 0 10px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
ul.social-networks li a:after {
  border-top: 7px solid #000000;
  border-right: 7px solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: -10px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
ul.social-networks li a i {
  line-height: 32px;
}
/* ============================================================ 
    15. Progress Bar
=============================================================*/
.line-progress-bar {
  position: relative;
  text-align: left;
}
.line-progress-bar p {
  margin-bottom: 5px;
  display: block;
}
.line-progress-bar p span {
  float: right;
}
.line-progress-bar .line-progress-bar-wrap {
  background: #f2f2f2;
  position: relative;
  height: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.line-progress-bar .line-progress-bar-wrap .line-progress-bar-inner {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #bd0808;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.line-progress-bar .line-progress-bar-wrap .line-progress-bar-inner.blue {
  background: #009eca;
}
.line-progress-bar .line-progress-bar-wrap .line-progress-bar-inner.lightblue {
  background: #58c5c0;
}
.line-progress-bar .line-progress-bar-wrap .line-progress-bar-inner.darkblue {
  background: #42555c;
}
.line-progress-bar .line-progress-bar-wrap .line-progress-bar-inner.red {
  background: #bd0808;
}
.line-progress-bar .line-progress-bar-wrap .line-progress-bar-inner.green {
  background: #bd0808;
}
.line-progress-bar .line-progress-bar-wrap .line-progress-bar-inner.orange {
  background: #f6ba70;
}
.line-progress-bar .line-progress-bar-wrap .line-progress-bar-inner.dark {
  background: #333333;
}
.line-progress-bar .line-progress-bar-wrap .line-progress-bar-inner.light {
  background: #dddddd;
}
.line-progress-bar .line-animation .line-progress-bar-inner:after,
.line-progress-bar .line-animation .line-progress-bar-inner span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
}
.line-progress-bar .line-animation .line-progress-bar-inner:after {
  display: none;
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
/* ============================================================ 
    16. Promo Box
=============================================================*/
.line-promobox {
  border: 5px solid #e6e6e6;
  padding: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  position: relative;
}
.line-promobox .line-promobutton .line-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -20px;
}
.line-promobox .line-promobutton .line-btn.small {
  margin-top: -15px;
}
.line-promobox .line-promobutton .line-btn.big {
  margin-top: -25px;
}
.line-promobox.has-button .line-promocontent {
  margin-right: 200px;
}
.line-promobox.no-button .line-promocontent {
  margin-right: 0;
}
.line-promobox.no-button .line-promobutton {
  display: none;
}
/* ============================================================ 
    17. Tabs
=============================================================*/
.line-tabs .line-filter-tabs {
  border-bottom: 2px solid #e6e6e6;
  display: inline-block;
  width: 100%;
}
.line-tabs .line-filter-tabs li {
  float: left;
}
.line-tabs .line-filter-tabs li a {
  padding: 15px 30px;
  color: #b3b3b3;
  background: #ffffff;
  font-weight: bold;
  line-height: 100%;
  border: 2px solid transparent;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  display: block;
  position: relative;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.line-tabs .line-filter-tabs li a:after {
  height: 4px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}
.line-tabs .line-filter-tabs li a.selected {
  color: #000000;
  border: 2px solid #e6e6e6;
}
.line-tabs .line-filter-tabs li a.selected:after {
  background: #fff;
}
.line-tabs .tab-container {
  padding: 20px 0;
  background: #ffffff;
  clear: both;
}
.line-tabs .tab-container aside {
  margin-bottom: 0;
}
/* ============================================================ 
    18. Table
=============================================================*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table.line-table.line-style1 tr.header {
  color: #000000;
  text-align: left;
}
table.line-table.line-style1 tr td,
table.line-table.line-style1 tr th {
  border-bottom: 2px solid #e6e6e6;
  padding: 15px 10px;
}
table.line-table.line-style2 tr.header {
  color: #000000;
  text-align: left;
}
table.line-table.line-style2 tr.header th {
  background: #ffffff;
}
table.line-table.line-style2 tr:nth-child(2n-1) {
  background: #e6e6e6;
}
table.line-table.line-style2 tr td,
table.line-table.line-style2 tr th {
  padding: 15px 10px;
}
.line-pricing-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.line-pricing-table .pricing-table-wrap {
  display: table-cell;
  text-align: center;
}
.line-pricing-table .pricing-table-wrap ul {
  border: 2px solid #e6e6e6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 10px;
  padding: 40px 20px;
  background: #ffffff;
}
.line-pricing-table .pricing-table-wrap ul li.line-head-row {
  font-size: 24px;
  line-height: 100%;
  font-weight: bold;
  padding-bottom: 5px;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row {
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 30px;
  margin-bottom: 35px;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row p {
  margin: 0;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row small {
  font-size: 18px;
  color: #b3b3b3;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row span {
  font-size: 72px;
  color: #bd0808;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 100%;
}
.line-pricing-table .pricing-table-wrap ul li.line-price-row span.symbol {
  position: relative;
  font-size: 24px;
  color: #000000;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  top: -15px;
}
.line-pricing-table .pricing-table-wrap ul li.line-btn-row {
  margin-top: 30px;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight {
  border-color: #bd0808;
  padding: 0;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-price-row {
  background: #bd0808;
  border-color: #bd0808;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-price-row small {
  color: #ffffff;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-price-row span {
  color: #ffffff;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-price-row span.symbol {
  color: #ffffff;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-head-row {
  color: #ffffff;
  background: #bd0808;
  padding-top: 40px;
}
.line-pricing-table .pricing-table-wrap ul.line-highlight li.line-btn-row {
  padding-bottom: 40px;
}
/* ============================================================ 
    19. Testimonial
=============================================================*/
.line-testimonials .line-testimonials-content {
  font-style: italic;
  margin-bottom: 30px;
  font-size: 16px;
}
.line-testimonials .line-testimonials-meta {
  font-weight: bold;
  font-size: 18px;
}
.line-testimonials .line-testimonials-meta span {
  color: #bd0808;
}
