
<div class="line-wrap line-section">
	<article class="line-content line-content-single-portfolio">
		<div class="one-third line-meta">
			<h3 class="line-title">Project title</h3>
			<div class="line-author">
				<a href="#">by admin</a>
			</div>
			<div class="line-link">
				<a class="line-btn green" href="#" target="_blank">Launch</a>
			</div>
			<div class="line-description">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br><br>
					Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
				</p>
			</div>
			<div class="line-tags">
				<a href="#">Wordpress</a>
				<a href="#">Sky</a>
				<a href="#">Cloud</a>
			</div>
		</div>
		<div class="two-third last line-portfolio-media">
			<div class="line-portfolio-media-inner">
				<iframe src="http://player.vimeo.com/video/7449107?badge=0" height="400"></iframe>
			</div>
		</div>
	</article>
	<nav class="line-nav-ajax">
		<a class="line-nav-hide" href="">
			<i class="fa fa-times"></i>
		</a>
		<a href="pages/portfolio-single-1.html" class="line-single-nav post-prev line-nav-prev">
			<i class="fa fa-angle-left"></i>
			<div class="post-entry">
				<div class="post-entry-inner">
					<h3 class="line-title">Single Portfolio Post: Prev</h3>
					<div class="img">
						<img src="http://placehold.it/60x60" alt="thumb" width="60">
					</div>
				</div>
			</div>
		</a>
		<a href="pages/portfolio-single-3.html" class="line-single-nav post-next line-nav-next">
			<i class="fa fa-angle-right"></i>
			<div class="post-entry">
				<div class="post-entry-inner">
					<div class="img">
						<img src="http://placehold.it/60x60" alt="thumb" width="60">
					</div>
					<h3 class="line-title">Single Portfolio Post: Next</h3>
				</div>
			</div>
		</a>
	</nav>
</div>