
<div class="line-portfolio line-portfolio-ajax">
	<div class="line-content line-content-isotope line-list-article line-col-4">
		<article class="cat1 cat4 cat5 cat6 entry">
			<a href="pages/portfolio-single-1.html" class="line-thumb">
				<img src="http://placehold.it/800x500" alt="img">
			</a>
			<div class="line-article-content">
				<h4 class="line-title">
					Project title
				</h4>
				<div class="incategory">
					<a href="#">Media</a>,
					<a href="#">Photography</a>,
					<a href="#">Web Design</a>
				</div>
			</div>
		</article>
		<article class="cat1 cat2 cat4 cat3 entry">
			<a href="pages/portfolio-single-2.html" class="line-thumb">
				<img src="http://placehold.it/800x500" alt="img">
			</a>
			<div class="line-article-content">
				<h4 class="line-title">
					Project title
				</h4>
				<div class="incategory">
					<a href="#">Media</a>,
					<a href="#">Photography</a>,
					<a href="#">Web Design</a>
				</div>
			</div>
		</article>
		<article class="cat2 cat1 cat6 cat3 cat5 entry">
			<a href="pages/portfolio-single-3.html" class="line-thumb">
				<img src="http://placehold.it/800x500" alt="img">
			</a>
			<div class="line-article-content">
				<h4 class="line-title">
					Project title
				</h4>
				<div class="incategory">
					<a href="#">Media</a>,
					<a href="#">Photography</a>,
					<a href="#">Web Design</a>
				</div>
			</div>
		</article>
		<article class="cat5 cat4 cat6 cat2 entry">
			<a href="pages/portfolio-single-1.html" class="line-thumb">
				<img src="http://placehold.it/800x500" alt="img">
			</a>
			<div class="line-article-content">
				<h4 class="line-title">
					Project title
				</h4>
				<div class="incategory">
					<a href="#">Media</a>,
					<a href="#">Photography</a>,
					<a href="#">Web Design</a>
				</div>
			</div>
		</article>
		<article class="cat5 cat2 cat3 cat6 cat4 entry">
			<a href="pages/portfolio-single-2.html" class="line-thumb">
				<img src="http://placehold.it/800x500" alt="img">
			</a>
			<div class="line-article-content">
				<h4 class="line-title">
					Project title
				</h4>
				<div class="incategory">
					<a href="#">Media</a>,
					<a href="#">Photography</a>,
					<a href="#">Web Design</a>
				</div>
			</div>
		</article>
		<article class="cat5 cat5 cat6 cat1 entry">
			<a href="pages/portfolio-single-3.html" class="line-thumb">
				<img src="http://placehold.it/800x500" alt="img">
			</a>
			<div class="line-article-content">
				<h4 class="line-title">
					Project title
				</h4>
				<div class="incategory">
					<a href="#">Media</a>,
					<a href="#">Photography</a>,
					<a href="#">Web Design</a>
				</div>
			</div>
		</article>
		<article class="cat5 cat1 cat2 cat3 entry">
			<a href="pages/portfolio-single-1.html" class="line-thumb">
				<img src="http://placehold.it/800x500" alt="img">
			</a>
			<div class="line-article-content">
				<h4 class="line-title">
					Project title
				</h4>
				<div class="incategory">
					<a href="#">Media</a>,
					<a href="#">Photography</a>,
					<a href="#">Web Design</a>
				</div>
			</div>
		</article>
		<article class="cat1 cat2 cat4 entry">
			<a href="pages/portfolio-single-2.html" class="line-thumb">
				<img src="http://placehold.it/800x500" alt="img">
			</a>
			<div class="line-article-content">
				<h4 class="line-title">
					Project title
				</h4>
				<div class="incategory">
					<a href="#">Media</a>,
					<a href="#">Photography</a>,
					<a href="#">Web Design</a>
				</div>
			</div>
		</article>
	</div>

	<!-- div style="padding:40px 0 70px 0">
		<a href="pages/portfolio-page-3.html" class="line-btn load-more big">Load More</a>
	</div -->
</div>